img{width:100px ;}
.a{
    background-color: antiquewhite;
    margin: 20px;
}
.box{
    background-color: white;
    width: 300px;
    border: 1px solid black;
    height: 300px;
}
body{
    background-color: brown;
}